

body {
    background: #e5e5e5;
    padding: 0px;
}

header {
    margin-top:8px;
    padding-top:8px;
    background: #e5e5e5;
    width: 100%;
    -webkit-box-shadow: 0 0 9px .5px #23374d;
    box-shadow: 0 0 9px .5px #23374d;
}

#logo {
    display: block;
    margin: auto;
    width: 300px;
    
}






#menu {
    text-align: center;
    padding: 2px 0px;
    margin: 10px 0px;
    background: #1089ff;
    -webkit-box-shadow: 0 0 9px .5px #23374d;
    box-shadow: 0 0 9px .5px #23374d;
}

    #menu li {
        list-style: none;
        display: inline-block;
        text-shadow: 0 0 1px #000000;
    }
        #menu a {
            color: #23374d;
            font: bold 25px Ginebra;
            text-decoration: none;
            padding: 4px;
        }
            #menu a:hover {
                background: #e5e5e5;
                -webkit-box-shadow: 0 0 4px 2px #FFFFFF;
                box-shadow: 0 0 4px 2px #FFFFFF;
                transition: 0.7s;
            }