

body {
    background: #e5e5e5;
    padding: 0px;
}

header {
    margin-top:8px;
    padding-top:8px;
    background: #e5e5e5;
    width: 100%;
    -webkit-box-shadow: 0 0 9px .5px #23374d;
    box-shadow: 0 0 9px .5px #23374d;
}

#logo {
    display: block;
    margin: auto;
    width: 300px;
    
}






#menu {
    text-align: center;
    padding: 2px 0px;
    margin: 10px 0px;
    background: #1089ff;
    -webkit-box-shadow: 0 0 9px .5px #23374d;
    box-shadow: 0 0 9px .5px #23374d;
}

    #menu li {
        list-style: none;
        display: inline-block;
        text-shadow: 0 0 1px #000000;
        padding: 0 7px;
    }
        #menu a {
            color: #23374d;
            font: bold 25px Ginebra;
            text-decoration: none;          
        }
            #menu a:hover {
                padding: 0 3px;
                background: #e5e5e5;
                -webkit-box-shadow: 0 0 4px 2px #FFFFFF;
                box-shadow: 0 0 4px 2px #FFFFFF;
                transition: 0.2s;
            }


@font-face {
    font-family: "tomoon";
    src: url(fuente/TalkingToTheMoon.ttf);
}

#frase{
    font-family: tomoon;
    text-align:center;
}
    #frase h1 {
        font-size: 370%;
        color: #454545;
        text-shadow: 0 0 1px #000000;
    }